.wrapper {
  width: 100%;
  max-width: 1152px;
  padding: 0 24px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: $body-font-family;
  font-size: $mobile-base-font-size;
  font-weight: 100;
  color: $black;

  @include breakpoint($bp-small) {
    font-size: $base-font-size;
  }
}

.skip-link {
  @include hide-visually;

  &:active,
  &:hover,
  &:focus {
    @include hide-visually("unhide");
  }
}

.header {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-between;
    align-items: center;
    height: 96px;

    @include breakpoint($bp-small) {
      height: 80px;
    }
  }

  .hdr-logo {
    font-size: $mobile-base-font-size;
    text-transform: uppercase;
    letter-spacing: 3px;

    @include breakpoint($bp-small) {
      font-size: $base-font-size;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }

  .nav-main {
    display: none;
  }
}

.home .article-h1 {
  display: none;
}

.banner {
  background-color: $sky-blue;
}
.banner_wrapper {
  padding: 0;
}
.banner_image {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 0;

  @include breakpoint($bp-medium) {
    padding: 0 24px;
  }
}
.banner_img {
  width: 100%;
}

.banner_caption {
  display: block;
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $white;
  font-size: $mobile-base-font-size;
  font-weight: 700;
  text-shadow: 1px 1px 3px $black;

  @include breakpoint($bp-tiny) {
    font-size: $mobile-base-font-size;
    top: 10%;
    font-weight: 700;
  }

  @include breakpoint($bp-medium) {
    font-size: $base-font-size;
    top: 10%;
    font-weight: 800;
  }
}

.main-menu {
  .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;

    @include breakpoint($bp-small) {
      font-size: 18px;
    }
  }

  .menu-item {
    display: inline-block;
    text-align: center;
    list-style: none;
    margin: 14px 0;
    padding: 0 12px;
    border-left: 1px solid $mid-grey;

    &:first-child { border: 0; }

    a {
      color: $black;
      text-decoration: none;
    }
  }
}

.jump-menu {
  display: none;

  @include breakpoint($bp-medium) {
    display: block;
  }

  .menu-items {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0;

    @include breakpoint($bp-small) {
      font-size: 18px;
    }
  }

  .menu-item {
    display: inline-block;
    text-align: center;
    list-style: none;
    margin: 14px 0;
    padding: 0 12px;
    border-left: 1px solid $mid-grey;

    &:first-child { border: 0; }

    a {
      color: $black;
      text-decoration: none;
    }
  }
}

.content-wrapper h2 {
  // font-weight: 300;

  &:before {
    content: none;

    @include breakpoint($bp-medium) {
      content: "Back to top";
      float: right;
      display: inline-block;
      font-size: 14px;
      padding-top: 18px;
    }
  }
}

.timestamp {
  font-size: small;
  margin-top: -1em;
}

.comment-box {
  display: none;
}

.wp-block-column {
  background-color: $light-grey;

  &:not(:first-child) {
    margin-left: 1rem !important;
  }
}

.wp-block-image {
  .alignleft,
  .alignright {
    float: none !important;
    display: block !important;
    width: 100% !important;
    margin: 1rem 0 !important;
    padding: 0 !important;
    line-height: 0;
  }

  img {
    width: 100% !important;
    height: auto !important;
  }

  @include breakpoint($bp-tiny) {
    .alignleft {
      float: left !important;
      width: 50% !important;
      margin: 0.25rem 1rem 0 0 !important;
    }

    .alignright {
      float: right !important;
      width: 50% !important;
      margin: 0 0 0 1rem !important;
    }

    img {
      border: 1px solid $mid-grey !important;
    }
  }

  @include breakpoint($bp-small) {
    .alignleft {
      float: left !important;
      width: 40% !important;
      margin: 0.25rem 1rem 0 0 !important;
    }

    .alignright {
      float: right !important;
      width: 33.3% !important;
      margin: 0 0 0 1rem !important;
    }

    img {
      border: 1px solid $mid-grey !important;
    }
  }
}

.wpcf7-not-valid-tip {
  font-size: 16px !important;
}

.site-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $mid-grey;

  p {
    font-size: $mobile-base-font-size;
  }
}

.wp-block-pullquote {
  padding: 1rem 0 !important;

  blockquote {
    border-right: 5px solid $sky-blue;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: $lightest-grey;
  }

  p {
    font-size: 1.333rem !important;
    font-weight: 500;
    line-height: 1.333 !important;
    text-align: right;
  }

  cite {
    display: block;
    font-weight: 100;
    font-style: italic;
    text-align: right;

    &:before {
      content: "\2014\2002";
    }
  }
}

#{$all-buttons} {
  background-color: darken($sky-blue, 20%);
  color: $white;
  border: 1px solid darken($sky-blue, 20%);
  border-radius: 3px;
  padding: 0.25rem 1rem;
  font-weight: 700;
}

#{$all-buttons-hover},
#{$all-buttons-focus}, {
  background-color: darken($sky-blue, 10%);
}


