$base-font-size: 21px;
$base-line-height: 28px;

$mobile-base-font-size: 18px;
$mobile-base-line-height: 24px;

$small-font-size: 18px;
$small-line-height: 28px;

$mobile-small-font-size: 14px;
$mobile-small-line-height: 24px;

$body-font-family: "Nunito Sans", serif;
$heading-font-family: "Nunito Sans", serif;
$alt-body-font-family: "Nunito Sans", serif;

$h1-font-size: 42px;
$h2-font-size: 35px;
$h3-font-size: 28px;
$h4-font-size: 21px;
$h5-font-size: 21px;
$h6-font-size: 21px;

$h1-line-height: 49px;
$h2-line-height: 42px;
$h3-line-height: 35px;
$h4-line-height: 28px;
$h5-line-height: 28px;
$h6-line-height: 28px;

$mobile-h1-font-size: 36px;
$mobile-h2-font-size: 30px;
$mobile-h3-font-size: 24px;
$mobile-h4-font-size: 18px;
$mobile-h5-font-size: 18px;
$mobile-h6-font-size: 18px;

$mobile-h1-line-height: 40px;
$mobile-h1-line-height: 36px;
$mobile-h3-line-height: 30px;
$mobile-h4-line-height: 24px;
$mobile-h5-line-height: 24px;
$mobile-h6-line-height: 24px;

$bp-tiny: 576px;
$bp-small: 768px;
$bp-medium: 1152px;
$bp-large: 1536px;

$white: #fff;
$lightest-grey: #f7f7f7;
$light-grey: #eee;
$mid-grey: #bbb;
$dark-grey: #888;
$black: #445;

$sky-blue: lighten(#4c5d8d, 30%);

